private
old
.prettierignore

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/public/index.html
/public/index.js
/public/locatorCountTable.html
/public/locatorSortedTable.html
/public/simple/index.html
/src/data/headwordLocatorCount.js
/src/data/headwords-array.js
/src/data/index-array.js
/src/data/index-object.js
/src/data/locator-book-object.js
/src/data/statsData.js
/src/data/updateDate.js
/src/data/uniqueLocators.js




# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.xlsx#
public/latex/index.tex
public/rawStyles-backup.css
public/index.css
src/functions/cssParts/tippy-custom-VP-almost-working.css
public/blurbs.js
src/data/filteredBlurbs.js
