.tippy-box {
    background-color: #795548;
    color: var(--offwhite-saturated);
    /* box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.184); */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 1px transparent;
    text-indent: 0;
}

.dark .tippy-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tippy-arrow {
    border-color: inherit;
    color: #795548;
}

.tippy-box[data-theme~='info'] {
    background-color: var(--dark-offwhite);
    color: black;
    border: 1px solid black;

}

.tippy-box[data-theme~='info']>.tippy-arrow::before {
    border-top-color: var(--dark-offwhite);
    border-bottom-color: var(--dark-offwhite);
}

.tippy-content:empty {
    display: none;
}

.tippy-content:empty+.tippy-arrow {
    display: none;
}


.tippy-box[data-placement^=top]>.tippy-arrow:after {
    border-top-color: inherit;
    border-width: 8px 8px 0;
    bottom: -8px;
    left: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:after {
    border-bottom-color: inherit;
    border-width: 0 8px 8px;
    top: -8px;
    left: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:after {
    border-left-color: inherit;
    border-width: 8px 0 8px 8px;
    right: -8px;
    top: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:after {
    border-width: 8px 8px 8px 0;
    left: -8px;
    top: 0;
    border-right-color: inherit
}

.tippy-box[data-placement^=top]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    top: 17px
}

.tippy-box[data-placement^=bottom]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    bottom: 17px
}

.tippy-box[data-placement^=left]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    left: 12px
}

.tippy-box[data-placement^=right]>.tippy-svg-arrow>svg:first-child:not(:last-child) {
    right: 12px
}


.tippy-arrow:after {
    content: "";
    z-index: -1;
    position: absolute;
    border-color: transparent;
    border-style: solid
}