@import url('../node_modules/tippy.js/dist/border.css');
@import url('../node_modules/tippy.js/dist/tippy.css');
@import url('../src/functions/cssParts/tippy-custom.css');
@import url('../src/functions/cssParts/fonts.css');
@import url('../src/functions/cssParts/infoArea.css');
@import url('../src/functions/cssParts/snackBars.css');

:root {
  --primary: #b54d0d;
  --dark-primary: #3f1011;
  --white: #fff;
  --white-filter: brightness(1) invert(100%);
  --offwhite: #fff9f1;
  --offwhite-saturated: #ffeecc;
  --offwhite-saturated-filter: brightness(0) saturate(100%) invert(97%) sepia(6%) saturate(2029%) hue-rotate(315deg) brightness(103%) contrast(102%);
  --dark-offwhite: #d1d1d1;
  --offblack: #5d4037;
  --offblack-filter: brightness(0) saturate(100%) invert(26%) sepia(6%) saturate(3124%) hue-rotate(337deg) brightness(98%) contrast(89%);
  --accent-color: black;
  --text-link: #FAE46D;
  --link: #0000EE;
  --visited: #551A8B;
  --dark-link: #729cff;
  --dark-visited: #b472ff;
  --xref-light: #007b00;
  --xref-dark: #8bc34a;
  --dn: #d1eddf;
  --mn: #F5DEB3;
  --sn: #ADD8E6;
  --an: #E6E6FA;
  --kp: #FFD485;
  --dhp: #B7E0D2;
  --ud: #e9e296;
  --iti: #FFE4E1;
  --snp: #FAF0E6;
  --vv: #FAFAD2;
  --pv: #D3D3D3;
  --thag: #DDF0FF;
  --thig: #DCE3C7;
  /* --primary: #ee6f20; */
  /* --dark-primary: #6b1617; */
  /* --offblack: #150d01; */
  /* --dn: #ACE6E6;
  --mn: #DBA9A9;
  --sn: #B1D6FA;
  --an: #B8B8E3;
  --kp: #FAE1C8;
  --dhp: #ABD4C0;
  --ud: #e9e296;
  --iti: #FAC0CB;
  --snp: #E3BDF2;
  --vv: #FFFFC2;
  --pv: #D4D4D4;
  --thag: #DDF0FF;
  --thig: #F0FFE0; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  font-family: "Fira Sans";
  line-height: 125%;
  background-color: var(--offwhite);
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: var(--offblack);
  color: var(--dark-offwhite);
}

::selection {
  background-color: var(--primary);
  color: var(--offwhite);
}

.dark ::selection {
  background-color: var(--dark-primary);
  color: var(--offwhite);
}

p {
  margin: 0;
  font-family: "Fira Sans";
}

.settings-bar {
  color: var(--offwhite-saturated);
  background-color: var(--primary);
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 0 10px;
  z-index: 100;
  min-height: 4.3rem;
}

.top-row {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  align-items: center;
  padding: .5rem 0;
  min-width: 360px;
  max-width: 35rem;
}

input {
  font-family: "Fira Sans";
  font-size: inherit;
  flex-grow: 1;
  border: solid 1px var(--offblack);
  border-radius: 4px;
  background-color: var(--offwhite-saturated);
  padding: 3px 0px 2px 4px;
}

input:focus {
  background-color: var(--offwhite);
}

.dark input {
  color: var(--offwhite);
  border-color: var(--offwhite);
  background-color: var(--dark-primary);
}

.dark input:focus {
  color: var(--offwhite);
  border-color: var(--offwhite);
  background-color: var(--offblack);
}

/*screen reader*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.settings-button {
  display: flex;
  flex-direction: row;
}

.settings-button img {
  margin-top: 0.2rem;
  rotate: 0deg;
  transition: rotate ease-in-out 1s;
  cursor: pointer;
}

.settings-button img:active {
  rotate: 90deg;
}

.settings-bar .icon,
.dark .settings-bar .icon {
  filter: var(--offwhite-saturated-filter)
}

.icon {
  /* filter: brightness(0); */
  filter: var(--offblack-filter)
}

.icon-label {
  display: none;
}

.dark .icon {
  filter: var(--white-filter);
}

.alphabet-menu {
  font-family: "Fira Code";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 35rem;
  min-width: 0;
  padding-right: 15px;
}

.menu-letter {
  border-radius: 8px 8px 0px 0px;
  padding: 4px 4px 3px 3px;
  cursor: pointer;
}

.menu-letter:hover {
  color: var(--primary);
  text-decoration: none;
  background-color: var(--offwhite-saturated);
}

.dark .menu-letter:hover {
  color: var(--dark-primary) !important;
  background-color: var(--offwhite);
}

.dark .settings-bar {
  background-color: var(--dark-primary);
}

.search-results {
  overflow-y: auto;
  overflow-x: auto;
  max-width: calc(100vw - 25px);
  text-wrap: wrap;
}

kbd {
  background-color: var(--primary);
  color: var(--offwhite-saturated);
  padding: 2px;
  border: solid 0px;
  border-radius: 5px;
}

.dark kbd {
  background-color: var(--dark-primary);
}

.link-list,
.search-results {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
  background-color: var(--offwhite);
  margin: 0 0 1rem 0;
  overscroll-behavior: contain;
  padding: 10px;
}

.search-results:empty {
  display: none;
}

.link-list a:hover {
  background-color: var(--primary);
  color: black;
}

.link-list div {
  list-style: none;
  text-indent: -1rem;
}

.dark .link-list,
.dark .search-results {
  background-color: var(--offblack);
}

.menu-item,
.no-results {
  color: var(--offblack);
  padding-left: 1rem;
  text-indent: -1rem;
  display: block;
  cursor: pointer;
}

.dark .menu-item,
.dark .no-results {
  color: var(--offwhite-saturated)
}

.no-results {
  cursor: inherit;
}

.menu-item strong {
  font-weight: bold;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(--primary);
  color: var(--offwhite-saturated)
}

.dark .menu-item:hover,
.dark .menu-item.active {
  background-color: var(--dark-primary);
  color: var(--offwhite-saturated)
}

.link-list div {
  padding-left: 1rem;
  display: block
}

.separator {
  border-top: 1px solid #ddd;
  margin: 0.5rem 0;
}

alphabet-anchor {
  display: block;
  font-size: 1.6rem;
  border-bottom: solid #3f3f3f 2px;
  margin-top: 1rem;
  color: #3f3f3f;
  padding-bottom: .5rem;
  font-weight: bold;
  font-family: "Fira Code";
}

.dark alphabet-anchor {
  font-size: 1.6rem;
  border-bottom: solid #bfbfbf 2px;
  color: #bfbfbf;
  margin-top: 1rem;
}

.sutta-index {
  margin: 6rem 1rem;
}

headword-section {
  display: block;
}

head-word-area {
  display: block;
  padding-top: .5rem;
  position: sticky;
  top: 4.2rem;
  background-color: var(--offwhite);
}

.dark head-word-area {
  background-color: var(--offblack);
}

head-word {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.counter {
  padding-bottom: .3rem;
  padding-right: .25rem;
  font-size: .83em;
  color: gray;
}

.dark .counter {
  color: var(--dark-offwhite)
}

.headword-link,
.headword-link:visited {
  color: var(--offblack);
  word-spacing: inherit;
  position: relative;
  text-decoration: none !important;
  white-space: inherit;
}

.dark .headword-link,
.dark .headword-link:visited {
  color: var(--dark-offwhite)
}

/*pasanna SHOULD PROBABLY BE IN THE .HEADWORD-LINK*/
.dark head-word {
  color: var(--white);
}

/* headword icons */

.copy-icon,
.link-icon {
  padding-right: .1rem;
  padding-left: .1rem;
}

.headword-link .link-icon,
.headword-link .copy-icon {
  visibility: hidden;
}

.headword-link:hover .link-icon,
.link-icon:hover,
.headword-link:hover .copy-icon,
.copy-icon:hover {
  visibility: inherit;
}

sub-word {
  display: block;
  padding-left: 3.5rem;
  text-indent: -2rem;
  line-height: 1.4rem;
}

.xref-link,
.xref-link:visited {
  text-decoration: none;
  white-space: inherit;
  word-spacing: inherit;
  color: var(--xref-light);
  font-style: italic;
}


.dark .xref-link,
.dark .xref-link:visited {
  color: var(--xref-dark);
}

.xref-link:hover {
  text-decoration: underline;
}

sutta-name {
  font-size: 85%;
}

.hide-names sutta-name {
  display: none;
}

.colored-locators .locator {
  padding: 2px 4px 1px;
  margin-right: 1px;
}

.locator:hover {
  text-decoration: underline;
}

.colored-locators .locator:hover {
  text-decoration: none;
}

.dark .locator {
  color: #ffecb3;
}

.dark .locator:visited {
  color: #ffccbc;
}


/*pasanna*/
.locator {
  color: #a65711;
  text-decoration: none;
  white-space: nowrap;
}

/*pasanna*/
.locator:visited {
  color: #612901
}

.colored-locators .locator {
  color: #7b3e08
}

.colored-locators .locator:visited {
  color: #0c0000;
}

.colored-locators .dn {
  background-color: var(--dn);
}

.colored-locators .mn {
  background-color: var(--mn);
}

.colored-locators .sn {
  background-color: var(--sn);
}

.colored-locators .an {
  background-color: var(--an);
}

.colored-locators .kp {
  background-color: var(--kp);
}

.colored-locators .dhp {
  background-color: var(--dhp);
}

.colored-locators .ud {
  background-color: var(--ud);
}

.colored-locators .iti {
  background-color: var(--iti);
}

.colored-locators .snp {
  background-color: var(--snp);
}

.colored-locators .vv {
  background-color: var(--vv);
}

.colored-locators .pv {
  background-color: var(--pv);
}

.colored-locators .thag {
  background-color: var(--thag);
}

.colored-locators .thig {
  background-color: var(--thig);
}

@media only screen and (max-width: 475px) {

  body {
    font-family: "Fira Sans Extra Condensed";
  }

  .sutta-index {
    margin: 6rem .5rem;
    line-height: 130%;
  }

  input {
    font-family: "Fira Sans Extra Condensed";
    max-width: 400px;
  }

  .icon-label {
    display: inherit;
    padding-left: .5rem
  }

  .settings-button-row {
    flex-direction: column !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    margin-left: 4rem
  }

  .settings-button {
    align-items: center;
  }

  .alphabet-menu {
    max-width: 100% !important;
    padding-right: 15px;
  }

  .alphabet-menu span {
    padding: 0px;
  }

  .alphabet-menu span:hover {
    color: rgb(109, 109, 109);
    background-color: inherit;
  }

  .dark .alphabet a:hover {
    color: var(--primary) !important;
    background-color: inherit;
  }

  sub-word {
    padding-left: 1rem;
    text-indent: -.5rem;
  }

  .link-icon,
  .copy-icon {
    padding-right: .2rem;
    padding-left: .2rem;
  }

  body.copy-buttons-visible .link-icon,
  body.copy-buttons-visible .copy-icon {
    display: inherit;
  }
}

.settings-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#info-button {
  margin-right: 1rem
}

body.copy-buttons-visible .link-icon,
body.copy-buttons-visible .copy-icon {
  visibility: inherit;
}

.hidden {
  display: none
}

/*Safari specific*/
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .sub-word {
      line-height: 1.7rem !important
    }

    .colored-locators .locator {
      padding: 1px 4px !important;
    }
  }
}